* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: crosshair;
}

.note {
  height: 60px;
  background-color: #ff5555;
}

header {
  padding: 1.5rem 10rem;
  background-color: #1b1f24;
}

.logo {
  font-weight: 600;
  letter-spacing: 0.125rem;
  border-bottom: 1px solid #551a8b;
  cursor: pointer;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-weight: 600;
  transition-duration: 0.5s;
}

nav ul li a:hover {
  color: #12bdff !important;
}

main {
  background-color: #1b1f24;
}

.container {
  width: 88%;
  margin: auto;
}

.blue-theme-text {
  color: #12bdff;
}

.description {
  color: #c4c4c4;
}

.socials a {
  width: 40px;
  height: 40px;
  border: 1px solid #12bdff;
  transition-duration: 0.5s;
}

.socials a:hover {
  background-color: #12bdff;
}

.buttons a {
  border: 1px solid #12bdff;
  transition-duration: 0.3s;
  font-size: 13px;
  font-weight: 600;
}

.buttons a:first-child {
  color: black;
  background-color: #12bdff;
}

.buttons a:last-child {
  color: white;
}

.buttons a:last-child:hover {
  background-color: #12bdff;
}

.buttons a:first-child:hover {
  background-color: #0c8ec2;
  border: 1px solid #0c8ec2;
}

.section-1 {
  background-color: #22282f;
}

.photo-circular {
  width: 240px;
  height: 240px;
  padding: 0.125rem;
  border: 0.2rem solid #12bdff;
  box-shadow: 0px 0px 24px #12bcff7c;
}

.know-more a {
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #12bdff;
  background-color: #12bdff;
  transition-duration: 0.3s;
}

.know-more a:hover {
  background-color: #0c8ec2;
  border: 1px solid #0c8ec2;
}

.section-2 {
  background-color: #1b1f24;
}

.project-card {
  background-color: #22282f;
  transition-duration: 0.3s;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 8px 2px #12bcff60;
}

.card-view {
  border: 1px solid #12bdff;
  transition-duration: 0.5s;
}

.card-view:hover {
  background-color: #12bdff;
}

.section-3 {
  background-color: #22282f;
}

.contact-form input {
  width: 180%;
  background-color: #c4c4c4;
  height: 40px;
}

.contact-form input:focus {
  outline: 1px solid #12bdff;
}

.contact-form textarea {
  width: 180%;
  background-color: #c4c4c4;
}

.contact-form textarea:focus {
  outline: 1px solid #12bdff;
}

.submit {
  background-color: #12bdff;
  font-weight: 600;
  font-size: 14px;
  transition-duration: 0.5s;
}

.submit:hover {
  background-color: #12bcffa4;
}

.github {
  background-color: rgb(20, 20, 20);
  font-size: 14px;
  font-weight: 600;
  transition-duration: 0.5s;
}

.github:hover {
  background-color: black;
}

footer {
  background-color: #1b1f24;
  font-size: 14px;
}

footer p {
  color: #808080;
}

.theme-1 {
  border: 1px solid #12bdff;
  background-color: #12bdff;
  padding: 6px 8px;
  border-radius: 6px;
}

.theme-1 a,
.buttons a,
.know-more a {
  font-family: Arial;
}


